<h3>
  Nested Route
</h3>

<p>
  A page view was just tracked.
</p>

{{#link-to "nested-route.index"}}view index page{{/link-to}}

{{#link-to "page-view"}}View other page{{/link-to}}
- {{#link-to "index"}}Back{{/link-to}}