<h3>
  Simple Route
</h3>

<p>
  A page view was just tracked.
</p>

{{#link-to 'nested-route.sub-route'}}View other page{{/link-to}}
- {{#link-to 'index'}}Back{{/link-to}}

<div>
  {{#each model as |item|}}
    <div>{{item.name}}</div>
  {{/each}}
</div>